# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Virtual environments
venv/
ENV/
.env

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# CSV imports
problems.csv
