<h1>Edit Problem</h1>
<form method="POST">
  {% csrf_token %}
  <label>Name:</label>
  <input type="text" name="name" value="{{ problem.name }}" required><br>
  
  <label>Topic:</label>
  <input type="text" name="topic" value="{{ problem.topic }}" required><br>
  
  <label>Difficulty:</label>
  <input type="text" name="difficulty" value="{{ problem.difficulty }}" required><br>
  
  <label>YouTube Link:</label>
  <input type="url" name="youtube_link" value="{{ problem.youtube_link }}"><br>
  
  <label>Practice Link:</label>
  <input type="url" name="practice_link" value="{{ problem.practice_link }}"><br>
  
  <button type="submit">Save Changes</button>
</form>

<a href="{% url 'admin_dashboard' %}">Cancel</a>
